/* line 15, ../scss/waxman_all.scss */
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Arial;
  font-size: 18px;
  background-color: #3e3c3d;
  height: 100%;
  overflow-y: auto;
}

/* line 25, ../scss/waxman_all.scss */
p {
  margin: 0 0;
  padding: 0 0;
}

/* line 29, ../scss/waxman_all.scss */
a {
  color: #222;
  text-decoration: none;
}

/* line 34, ../scss/waxman_all.scss */
#hamburger {
  position: relative;
  width: 25px;
  padding: 2px 3px;
  background-color: black;
  display: inline-block;
  margin-right: 6px;
}

/* line 43, ../scss/waxman_all.scss */
#hamburger div {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 1px;
  height: 2px;
  width: 80%;
  margin: 3px auto;
}

/* line 52, ../scss/waxman_all.scss */
#filter-button {
  display: inline-block;
  background-color: red;
  height: 28px;
  width: 30px;
}

/*
The navigation container in the background
*/
/* line 61, ../scss/waxman_all.scss */
nav {
  left: 0px;
  top: 136px;
  position: fixed;
  z-index: 0;
  width: 70%;
  max-height: 72%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  background: #3e3c3d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d',GradientType=0 );
}
/* line 82, ../scss/waxman_all.scss */
nav #main-menu {
  display: block;
}
/* line 85, ../scss/waxman_all.scss */
nav #filters-menu {
  display: block;
}
/* line 88, ../scss/waxman_all.scss */
nav .category {
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Paytone One", sans-serif;
  letter-spacing: 1px;
  color: white;
  border-bottom: 1px solid white;
  text-align: left;
}
/* line 97, ../scss/waxman_all.scss */
nav .category i {
  float: right;
  padding-top: 3px;
}
/* line 102, ../scss/waxman_all.scss */
nav .sub-category {
  margin: 0 0;
  padding: 0 0;
  border-bottom: 1px solid white;
}
/* line 106, ../scss/waxman_all.scss */
nav .sub-category li {
  padding: 5px 0 5px 20px;
  font-size: 12px;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  border-bottom: 1px dashed #FFF;
}
/* line 114, ../scss/waxman_all.scss */
nav .sub-category li img {
  height: 30px;
  width: 10px;
}
/* line 118, ../scss/waxman_all.scss */
nav .sub-category li:last-child {
  border-bottom: none;
}
/* line 120, ../scss/waxman_all.scss */
nav .sub-category li:last-child img {
  width: 5px;
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
/* line 133, ../scss/waxman_all.scss */
#contentLayer {
  display: none;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  z-index: 5;
}

/* line 143, ../scss/waxman_all.scss */
.ui-icon {
  float: right;
  margin-top: 5px;
}

/* line 147, ../scss/waxman_all.scss */
header {
  text-decoration: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  height: 130px;
  width: 100%;
  background-color: #DDC;
}
/* line 160, ../scss/waxman_all.scss */
header .logo-container {
  background-color: whitesmoke;
  height: 60%;
  width: 200px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
/* line 168, ../scss/waxman_all.scss */
header .logo-container .logo {
  height: 100%;
  width: 80%;
  margin: 10px auto 0px auto;
  background: url("../images/waxman_logo.svg") no-repeat top;
}
/* line 173, ../scss/waxman_all.scss */
header .logo-container .logo p {
  margin: 0 0;
  text-align: right;
  padding-top: 40px;
  font-size: 25px;
  font-family: "Shadows Into Light Two", cursive;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  font-weight: bold;
}
/* line 186, ../scss/waxman_all.scss */
header .cart-info-container {
  background-color: white;
  height: 60%;
  width: 19%;
  padding: 10px;
  float: right;
  display: inline-block;
  vertical-align: top;
}
/* line 196, ../scss/waxman_all.scss */
header .nav-container {
  background-color: gray;
  padding: 6px;
  margin-top: 0px;
  height: 28px;
}

/* line 204, ../scss/waxman_all.scss */
#container {
  position: relative;
  left: 0;
}

/* line 208, ../scss/waxman_all.scss */
main {
  background-color: #FFFFFF;
  padding: 150px 10px 10px 10px;
  position: relative;
  width: auto;
  -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
/* line 215, ../scss/waxman_all.scss */
main .column {
  width: 38%;
  padding-left: 10%;
  height: 150px;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
  background-color: black;
  background-size: cover;
}
/* line 224, ../scss/waxman_all.scss */
main .column.right {
  float: right;
}
/* line 227, ../scss/waxman_all.scss */
main .column .title {
  margin-top: 115.5px;
  background-color: #FFF;
}
/* line 230, ../scss/waxman_all.scss */
main .column .title p {
  padding-bottom: 7px;
  padding-top: 7px;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  font-size: 15px;
}
/* line 237, ../scss/waxman_all.scss */
main .column .title p:nth-child(even) {
  margin-top: -18px;
  padding-bottom: 0;
  background-color: transparent;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  text-align: right;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: bold;
  font-size: 14px;
}
/* line 266, ../scss/waxman_all.scss */
main .column#all_columns {
  width: 100%;
  padding-left: 0;
}
/* line 271, ../scss/waxman_all.scss */
main .column#all_columns .title {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/* line 280, ../scss/waxman_all.scss */
footer {
  background-color: white;
  position: relative;
  bottom: 0px;
}

@media only screen and (min-width: 480px) {
  /* line 289, ../scss/waxman_all.scss */
  header .logo-container {
    width: 300px;
  }

  /* line 293, ../scss/waxman_all.scss */
  nav {
    max-height: 72%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #3e3c3d;
  }
  /* line 298, ../scss/waxman_all.scss */
  nav .category {
    font-size: 16px;
    letter-spacing: 2px;
  }
  /* line 303, ../scss/waxman_all.scss */
  nav .sub-category li {
    font-size: 14px;
    padding-left: 35px;
  }

  /* line 313, ../scss/waxman_all.scss */
  main .column {
    height: 180px;
    width: 34%;
    padding-left: 15%;
  }
  /* line 317, ../scss/waxman_all.scss */
  main .column .title {
    margin-top: 144px;
  }
  /* line 319, ../scss/waxman_all.scss */
  main .column .title p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  /* line 325, ../scss/waxman_all.scss */
  main .column .title p:nth-child(even) {
    font-size: 16px;
  }
  /* line 330, ../scss/waxman_all.scss */
  main .column#all_columns {
    width: 100%;
    padding-left: 0;
  }
  /* line 335, ../scss/waxman_all.scss */
  main .column#all_columns .title {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 640px) {
  /* line 349, ../scss/waxman_all.scss */
  main .column {
    height: 216px;
    width: 30%;
    padding-left: 19%;
  }
  /* line 353, ../scss/waxman_all.scss */
  main .column .title {
    margin-top: 179.28px;
  }
  /* line 356, ../scss/waxman_all.scss */
  main .column#all_columns {
    width: 100%;
    padding-left: 0;
  }
  /* line 361, ../scss/waxman_all.scss */
  main .column#all_columns .title {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  /* line 375, ../scss/waxman_all.scss */
  main .column {
    height: 259.2px;
    width: 27%;
    padding-left: 22%;
  }
  /* line 379, ../scss/waxman_all.scss */
  main .column .title {
    margin-top: 222.912px;
  }
  /* line 382, ../scss/waxman_all.scss */
  main .column#all_columns {
    width: 100%;
    padding-left: 0;
  }
  /* line 387, ../scss/waxman_all.scss */
  main .column#all_columns .title {
    margin-left: auto;
    margin-right: auto;
  }
}
