/* line 15, ../scss/waxman_all.scss */
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Arial;
  font-size: 18px;
  background-color: #3e3c3d;
  height: 100%;
  overflow-y: auto;
}

/* line 25, ../scss/waxman_all.scss */
p {
  margin: 0 0;
  padding: 0 0;
}

/* line 29, ../scss/waxman_all.scss */
a {
  color: #222;
  text-decoration: none;
}

/* line 34, ../scss/waxman_all.scss */
#hamburger {
  position: relative;
  width: 25px;
  padding: 2px 3px;
  background-color: black;
  display: inline-block;
  margin-right: 6px;
}

/* line 43, ../scss/waxman_all.scss */
#hamburger div {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 1px;
  height: 2px;
  width: 80%;
  margin: 3px auto;
}

/* line 52, ../scss/waxman_all.scss */
#filter-button {
  display: inline-block;
  text-align: center;
  background-color: black;
  height: 28px;
  width: 30px;
  vertical-align: top;
}
/* line 59, ../scss/waxman_all.scss */
#filter-button i {
  font-size: 26px;
  vertical-align: text-top;
  color: white;
}

/*
The navigation container in the background
*/
/* line 68, ../scss/waxman_all.scss */
nav {
  left: 0px;
  top: 136px;
  position: fixed;
  z-index: 0;
  width: 70%;
  max-height: 72%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  background: #3e3c3d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3c3d', endColorstr='#2d2c2d',GradientType=0 );
}
/* line 89, ../scss/waxman_all.scss */
nav #main-menu {
  display: block;
}
/* line 92, ../scss/waxman_all.scss */
nav #filters-menu {
  display: block;
}
/* line 94, ../scss/waxman_all.scss */
nav #filters-menu form {
  padding-top: 10px;
  width: 200px;
  margin: 0 auto;
  color: white;
  font-size: 13px;
  font-family: "Shadows Into Light Two", cursive;
  letter-spacing: 2px;
}
/* line 102, ../scss/waxman_all.scss */
nav #filters-menu form .left {
  float: left;
  width: 60%;
}
/* line 106, ../scss/waxman_all.scss */
nav #filters-menu form .check {
  margin-bottom: 5px;
}
/* line 108, ../scss/waxman_all.scss */
nav #filters-menu form .check img {
  vertical-align: bottom;
  height: 23px;
}
/* line 112, ../scss/waxman_all.scss */
nav #filters-menu form .check p {
  display: inline-block;
}
/* line 115, ../scss/waxman_all.scss */
nav #filters-menu form .check.diameter {
  font-size: 14px;
  letter-spacing: 3px;
}
/* line 122, ../scss/waxman_all.scss */
nav .category {
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Paytone One", sans-serif;
  letter-spacing: 1px;
  color: white;
  border-bottom: 1px solid white;
  text-align: left;
}
/* line 131, ../scss/waxman_all.scss */
nav .category i {
  float: right;
  padding-top: 3px;
}
/* line 136, ../scss/waxman_all.scss */
nav .sub-category {
  margin: 0 0;
  padding: 0 0;
  border-bottom: 1px solid white;
}
/* line 140, ../scss/waxman_all.scss */
nav .sub-category li {
  padding: 5px 0 5px 20px;
  font-size: 12px;
  font-family: "Shadows Into Light Two", cursive;
  letter-spacing: 2px;
  color: white;
  border-bottom: 1px dashed #FFF;
}
/* line 148, ../scss/waxman_all.scss */
nav .sub-category li img {
  height: 30px;
  width: 10px;
}
/* line 152, ../scss/waxman_all.scss */
nav .sub-category li:last-child {
  border-bottom: none;
}
/* line 154, ../scss/waxman_all.scss */
nav .sub-category li:last-child img {
  width: 5px;
}

/* line 163, ../scss/waxman_all.scss */
#breadcrumbs {
  position: fixed;
  z-index: 1;
  top: 98px;
  left: 35%;
  padding: 6px;
  height: 28px;
  text-align: center;
  font-family: "Paytone One", sans-serif;
}

/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
/* line 178, ../scss/waxman_all.scss */
#contentLayer {
  display: none;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  z-index: 5;
}

/* line 188, ../scss/waxman_all.scss */
.ui-icon {
  float: right;
  margin-top: 5px;
}

/* line 192, ../scss/waxman_all.scss */
header {
  text-decoration: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
  height: 130px;
  width: 100%;
  background-color: #DDC;
}
/* line 205, ../scss/waxman_all.scss */
header .logo-container {
  background-color: whitesmoke;
  height: 60%;
  width: 200px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
/* line 213, ../scss/waxman_all.scss */
header .logo-container .logo {
  height: 100%;
  width: 80%;
  margin: 10px auto 0px auto;
  background: url("../images/waxman_logo.svg") no-repeat top;
}
/* line 218, ../scss/waxman_all.scss */
header .logo-container .logo p {
  margin: 0 0;
  text-align: right;
  padding-top: 40px;
  font-size: 25px;
  font-family: "Shadows Into Light Two", cursive;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  font-weight: bold;
}
/* line 231, ../scss/waxman_all.scss */
header .cart-info-container {
  background-color: white;
  height: 60%;
  width: 19%;
  padding: 10px;
  float: right;
  display: inline-block;
  vertical-align: top;
}
/* line 241, ../scss/waxman_all.scss */
header .nav-container {
  background-color: gray;
  padding: 6px;
  margin-top: 0px;
  height: 28px;
}

/* line 249, ../scss/waxman_all.scss */
#container {
  position: relative;
  left: 0;
}

/* line 253, ../scss/waxman_all.scss */
main {
  background-color: #FFFFFF;
  padding: 150px 10px 10px 10px;
  position: relative;
  width: auto;
  -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
/* line 260, ../scss/waxman_all.scss */
main .column {
  width: 38%;
  padding-left: 10%;
  height: 150px;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
  background-color: black;
  background-size: cover;
}
/* line 269, ../scss/waxman_all.scss */
main .column.right {
  float: right;
}
/* line 272, ../scss/waxman_all.scss */
main .column .title {
  margin-top: 115.5px;
  background-color: #FFF;
}
/* line 275, ../scss/waxman_all.scss */
main .column .title p {
  padding-bottom: 7px;
  padding-top: 7px;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  font-size: 15px;
}
/* line 282, ../scss/waxman_all.scss */
main .column .title p:nth-child(even) {
  margin-top: -18px;
  padding-bottom: 0;
  background-color: transparent;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  text-align: right;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: bold;
  font-size: 14px;
}
/* line 304, ../scss/waxman_all.scss */
main .column#deep_forest {
  background: url(../images/deep_forest_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 309, ../scss/waxman_all.scss */
main .column#fifth_ave {
  background: url(../images/5th_ave_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 314, ../scss/waxman_all.scss */
main .column#fengshui {
  background: url(../images/feng_shui_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 320, ../scss/waxman_all.scss */
main .column#kansas {
  background: url(../images/kansas_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 325, ../scss/waxman_all.scss */
main .column#kitchen {
  background: url(../images/kitchen_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 330, ../scss/waxman_all.scss */
main .column#sunshine {
  background: url(../images/summer_sunshine_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 335, ../scss/waxman_all.scss */
main .column#water {
  background: url(../images/wet_layer.png) no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 349, ../scss/waxman_all.scss */
main .column#all_columns {
  width: 100%;
  padding-left: 0;
}
/* line 354, ../scss/waxman_all.scss */
main .column#all_columns .title {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/* line 363, ../scss/waxman_all.scss */
footer {
  background-color: white;
  position: relative;
  bottom: 0px;
}

@media only screen and (min-width: 480px) {
  /* line 372, ../scss/waxman_all.scss */
  header .logo-container {
    width: 300px;
  }

  /* line 376, ../scss/waxman_all.scss */
  nav {
    max-height: 72%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #3e3c3d;
  }
  /* line 381, ../scss/waxman_all.scss */
  nav .category {
    font-size: 16px;
    letter-spacing: 2px;
  }
  /* line 386, ../scss/waxman_all.scss */
  nav .sub-category li {
    font-size: 14px;
    padding-left: 35px;
  }
  /* line 392, ../scss/waxman_all.scss */
  nav #filters-menu form {
    width: 250px;
  }
  /* line 396, ../scss/waxman_all.scss */
  nav #filters-menu form .check {
    display: inline-block;
  }
  /* line 398, ../scss/waxman_all.scss */
  nav #filters-menu form .check img {
    height: 25px;
  }
  /* line 404, ../scss/waxman_all.scss */
  nav #filters-menu #material .check {
    width: 80%;
  }

  /* line 411, ../scss/waxman_all.scss */
  #breadcrumbs {
    left: 40%;
    font-size: 20px;
  }

  /* line 419, ../scss/waxman_all.scss */
  main .column {
    height: 180px;
    width: 34%;
    padding-left: 15%;
  }
  /* line 423, ../scss/waxman_all.scss */
  main .column .title {
    margin-top: 144px;
  }
  /* line 425, ../scss/waxman_all.scss */
  main .column .title p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  /* line 431, ../scss/waxman_all.scss */
  main .column .title p:nth-child(even) {
    font-size: 16px;
  }
  /* line 436, ../scss/waxman_all.scss */
  main .column#all_columns {
    width: 100%;
    padding-left: 0;
  }
  /* line 441, ../scss/waxman_all.scss */
  main .column#all_columns .title {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 640px) {
  /* line 452, ../scss/waxman_all.scss */
  #breadcrumbs {
    left: 42%;
  }

  /* line 458, ../scss/waxman_all.scss */
  main .column {
    height: 216px;
    width: 30%;
    padding-left: 19%;
  }
  /* line 462, ../scss/waxman_all.scss */
  main .column .title {
    margin-top: 179.28px;
  }
  /* line 465, ../scss/waxman_all.scss */
  main .column#all_columns {
    width: 100%;
    padding-left: 0;
  }
  /* line 470, ../scss/waxman_all.scss */
  main .column#all_columns .title {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  /* line 481, ../scss/waxman_all.scss */
  #breadcrumbs {
    left: 43%;
  }

  /* line 487, ../scss/waxman_all.scss */
  main .column {
    height: 259.2px;
    width: 27%;
    padding-left: 22%;
  }
  /* line 491, ../scss/waxman_all.scss */
  main .column .title {
    margin-top: 222.912px;
  }
  /* line 494, ../scss/waxman_all.scss */
  main .column#all_columns {
    width: 100%;
    padding-left: 0;
  }
  /* line 499, ../scss/waxman_all.scss */
  main .column#all_columns .title {
    margin-left: auto;
    margin-right: auto;
  }
}
